
	body{
        background-color: RoyalBlue;
    }

    h2{
        color: white;
    }

    .tab {
    	overflow: hidden;
    	border: none;
    	background-color: #f1f1f1;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
    	
	}

	.tab button {
    	border-bottom-style: solid;
    	border-bottom-width: 3px;
    	border-top-style: none;
    	border-right-style: none;
    	border-left-style: none;
    	border-color: red;
    	background-color: #000000;
    	color: #ffffff;
    	float: left;
    	outline: none;
    	cursor: pointer;
    	padding: 14px 16px;
    	transition: 0.3s;
    	width: 33.3333333333333333333333333333333333333333333333333333333333333333%;


	}

	.tab button:hover {
    	background-color: #008b00;
	}

	.tab button.active {
 		border-bottom-color: #00ee00;
	}

	.tabcontent {
    	display: none;
    	padding: 6px 12px;
    	border-top: none;
	}