html{
    height: 100%;
}

body{
        background-color: #afeeee;
        margin: 0px;
        height: 100%;
    }

h2{
    color: #7f1917;
    text-align: center;
    display: block;
    font-family: Helvetica;
    padding-bottom: 10px;
    padding-top: 10px;
}

h2.specialh2{
    color: #76323f;
    text-align: left;
    display: inline-block;
    font-family: Helvetica;
    padding-bottom: 1%;
    padding-top: 1%;
}

li{
    text-align: center;
}

a{
    display: block;
    font-size: 16px;
}

.container-fluid{
    padding: 0px;
    height: 100%;
}

.tab {
    overflow: auto;
    display: inline-block;
    background-color: #F9FAF9;
    width: 100%;
    float: top;
    border-bottom: solid;
    border-color: #565656
    border-width: thin;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;

}

.tab button {
    border: none;
    background-color: inherit;
    color: #565656;
    outline: none;
    cursor: pointer;
    margin-top: 1%;   
    padding-bottom: 1%;
    transition: 0.2s;
    width: 33.333333333333333%;
    font-family: Helvetica;
}

.tab button:hover {
    border-bottom: solid;
    border-width: medium;
    border-color: #03707d; 
}

.tab button.active {
    border-bottom: solid;
    border-width: medium;
    border-color: #03707d;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: none;
}

.banner{
    text-align: center;
}

.banner img{
    image-rendering: -webkit-optimize-contrast;
    height: 100%;
    max-width: 50%;
}

.search-container{
    float: right;
    display: block;
    width: 40%;
    padding-top: 4%;
}

.search-container input[type='text']{
    width: 75%;
    height: inherit;
}

.search-container button{
    max-width: 25%;
    height: inherit;
    text-align: center;
}

tr.data{
    height: 123px;
    vertical-align: text-top;
}


table{
    color: black;
    background-color: #e5fafa;
    table-layout: auto;
    font-size: 1.5vw;
    margin-left: 0px;
    margin-right: 0px;
}


